:root {
    --primary-bg-color: #393939;
    --nav-bg-color: #015668;
    --tera-bg-color: #263f44; 
    --primary-color: #ffd369;
    --ter-bg-color: #fff1cf;
    --font-weight-bold: bold;
    --margin-center: 0 auto;
}

html, body {
	margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}
* {
    box-sizing: border-box;
}

h1 {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
} 

#name {
    text-transform: unset;
}
  
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    background: var(--primary-bg-color);
    z-index: 99;
    width: 100%;
}

header h3 {
    margin: .5em auto;
}

a {
	text-decoration: none;
    display: flex;
    color: #fff1cf;
    padding: .5em;
}
.menu {
    width: 2.3em;
    cursor: pointer;
    margin: 1em;
    margin-right: .5em;
    padding: .5em;
}
ul {
    position: fixed;
    top: 0;
    left: 0;
    background: #393939;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    display: none;
    z-index: 1;
    place-content: center;
}

ul li a {
    color: #fff1cf;
    padding: 1.2em;
    display: block;
    font-size: 1rem;
}

ul li a:hover {
    color: #fff1cf;
    opacity: 0.5; 
}
.exit svg {
    width: 1.5em;
    position: absolute;
    top: 1em;
    right: 2em;
    cursor: pointer;
}
.open-nav {
    display: grid;
}
.open-nav a {
    font-size: 1.4em;
}

#home {
    padding: .5em;
    display: block;
    background: var(--primary-bg-color);
    color: ivory;
    position: relative;
    top: 3em;
}
.profile-content {
    display: block;
    justify-content: center;
    text-align: center;
    place-content: center;
    margin: 0 auto;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); 
}
.profile-content h1 {
    display: block;
    color: #ff8882; 
    font-weight: bold;
    padding: 0;
    margin: 0;
    justify-content: center !important;
    font-size: 2.4em;
}
.profile-content p {
    color: #fff;
    display: block;
    width: 95%;
    margin: 0 auto .5em;
    text-align: center;
    font-size: 1.2em;
    letter-spacing: .5px;
}

.profile-img {
    display: block;
    border-radius: 50%;
    width: 90%;
    margin: 1em auto 2em;
}
.btn {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); 
}
#btn-project {
    padding: .4em .5em;
    width: 150px;
    color: var(--primary-bg-color);
    background: #fff1cf;
    cursor: pointer;
    font-size: 1em; 
    justify-content: center;
}
#btn-contact {
    padding: .5em .5em;
    width: 150px;
    color: var(--primary-bg-color);
    background: #ff8882;
    cursor: pointer;
    font-size: 1em; 
    border: 1.2px solid #ff8882;
    font-weight: bolder;
    justify-content: center;
}

#btn-project:hover {
    opacity: .9;
    color: #ff8882;
    background-color: #393939;
    border: 1.2px solid #ff8882;
}
#btn-contact:hover {
    opacity: .9;
    color: #fff1cf;
    background-color: #393939;
    border: 1.2px solid #fff1cf;
}

#about {
    display: grid;
    justify-content: center;
    place-content: center;
    position: relative;
    text-align: left;
}

.abt img {
    margin-top: 2em;
    width: 100%;
    height: 40vh;
}

.abt-item p {
    padding: 1em;
    background: rgb(255,255,255);
    color: #6a6161;
    letter-spacing: .33px;
    line-height: 1.2em;
}

.iam {
    display: grid;
    place-content: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    font-size: 1em;
    letter-spacing: .1em;
}

.iam h1 {
    display: block;
    text-align: center;
    margin-top: 3em;
    margin-bottom: .5em;
    color: #ff8882;
}
.iam p{
    font-size: 1.3em;
}
.resume {
    display: block;
    width: 250px;
    padding: .5em .6em;
    background: var(--primary-bg-color);
    color: #fff1cf;
    cursor: pointer;
    margin: 1em auto;
    justify-content: center;
    text-align: center;
    border: 1.2px var(--primary-bg-color) solid;
    font-size: 1.2em;
    transition: font-size .8s .3s, transform 1s .2s ease-out;
}

.resume:hover {
    box-shadow: 10px 10px 15px 0px rgb(255, 136, 130,.3);
    text-decoration: none;
    color: #ff8882; 
    transform: scaleX(1.2);
    transition: all .5s .5s linear;
}

#skills { 
    padding: 3em;   
    background: #fff1cf;
    position: relative;
}

#skills h1 {
    display: block;
    color: var(--primary-bg-color);
    padding: 1em auto;
    text-align: center;
    color: #ff8882;
}
#skills h2:after {
    content: '';
    position: absolute;
    display: block;
    height: 7px;
    width: 21%;
    top: 37px;
    justify-content: center;
    background: tomato;
}
.skills-list {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}
.skills-list__item {
    text-align: center;
    padding: 2em;
    border: 1.2px solid #2c2c2c;
    margin-bottom: 1em;
    box-shadow: 5px 5px 5px 0px rgba(38, 39, 36, 0.06);
}
.skills-img {
    display: block;
    padding: 1em;
    margin: 0 auto;
}
#project {
    padding: 1.2em;
    display: block;
    justify-content: center;
    text-align: center;
    color: #fff1cf;
    position: relative;
    background: #393939;
}
#project h1 {
    color: #ff8882;
    margin: 1.5em auto .6em;
    padding: 1em auto .5em;
}
.projects {
    display: grid;
    grid-template-columns: 1fr; 
    justify-content: center;
    margin: 0 auto; 
}
.projects h2 {
    font-weight: bold;
    font-size: 2em;
    margin: 0;
    margin-bottom: .5em;
    color: #ff8882;
}
.projects p {
    display: block;
    justify-content: center;
    margin: 0 auto 2em;
    font-size: 1em;
    color: #fff1cf;
    width: 85%;
}
.projects__item div {
    display: inline-flex;
    margin: 0 auto;
}
a#git, a#api {
    padding: .7em;
    border: 1.2px solid #fff1cf;
    text-align: center;
    justify-content: center;
}
a#web, a#case {
    padding: .7em;
    color: var(--primary-bg-color);
    background: #fff1cf;
    border: 1.2px solid #fff1cf;
    justify-content: center;
}
a:hover, a#web:hover, a#case:hover {
    color: #ff8882;
}
.projects__item {
    border: .1px solid #fff1cf;
    border-radius: 2em;
    margin-bottom: 1em;
}
.projects__item:hover {
    border: .1px solid #ff8882;
}

.movie, .meet, .quiz, .breeds, .chat {
    display: grid;
}
.movie img {
    max-width: 100%;
    max-height: 100%;
    height: 350px;
    margin-top: 2em;
    padding: 0em 2em;
    background-color: #fff1cf;
}
.links {
    display: flex;
    flex-direction: column;
}
.seashell img, .meet img, .breeds img, .chat img  {
    max-width: 100%;
    max-height: 100%;
    height: 350px;
    margin-top: 2em;
    padding: 0em 2em;
}
.movie-desc, .seashell-desc, .meet-desc, .breeds-desc, .chat-desc {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    justify-content: center;
    place-content: center;
    box-shadow: 5px 5px 5px 0px rgba(54, 54, 53, 0.06);
}
.cs img {
    display: grid;
    justify-content: center;
    place-content: var(--margin-center);
    margin: 0 auto;
    width: 100%;
    box-shadow: 10px 10px 18px 10px rgba(0,0,0,.09);
}
.cs__item {
    animation: fadeIn 2s forwards;
    opacity: 0;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-40%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.cs__item:nth-of-type(1) {
    border: unset;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
    position: relative;
    padding: 0;
}
  
.cs__item h4 {
    font-size: .6em;
}

#cs {
    color: #a6a6a6 !important;
    position: absolute;
    top: 20px;
    left: 20px;
}

#doc {
    color: #ff8882 !important;
    position: absolute;
    top: 20px;
    right: 100px;
}
#site {
    color: black;
    background: #ff8882;
    position: absolute;
    top: 20px;
    right: 20px;
}
#site:hover {
    background-color: black;
    color: #ff8882;
    border: 1.2px solid #ff8882;
}
.contact {
    text-decoration: none;
    background-color: #393939;
}
.contact h2 {
    color: yellowgreen;
    width: 70%;
    margin: 0 auto 1em; 
    font-size: 1.5em;
}
.contact a {
    display: block;
    margin: 0 auto;
    padding: 1em;
    background: #393939;
    border: 1.2px yellowgreen solid;
    font-weight: bold;
    font-size: 1.2em;
    color: yellowgreen;
}
.contact a:hover {
    color: #2c2c2c;
    background-color: #fff;
}

#contact {
    padding: 3em;
    display: grid;
    justify-content: center;
    place-content: center;
    text-align: center;
    background: #fff1cf;
    position: relative;
    margin: 0 auto 2em;
    overflow:scroll;
    z-index: -99;
}

#contact h1 {
    color: #ff8882;
}

.page-footer {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 1em;
    background-color: #393939;
}
.social-media {
    display: flex;
    justify-content: center;
}

.social-media a {
    padding: .5em;
}
h6 {
    color: #ff8882;
    opacity: .6;
    margin: 0;
}
.msg {
    display: block;
    margin: 0 auto 1em;
    padding: .5em;
    font-size: 2.4em;
    width: 100%;
}

.msg span {
    position: relative;
    color: #2c2c2c;
}

.msg span:before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: -5%;
    height: 18px;
    width: 108%;
    background: #ff8882;
    z-index: -1;
}

#react {
    color: #ff8882;
}

.ids a{
    display: block;
    margin: 0 auto;
    padding: .7em;
    font-weight: bold;
    font-size: 1.2em;
    width: 90%;
    color: #ff8882;
    border: 1.2px #ff8882 solid;
}
.ids a:hover {
    border: 1.2px #2c2c2c solid;
    color: #2c2c2c;
}

#email:hover {
    content: "prasaad.vijay@gmail.com"
}


.msg p span {
    color: #ff8882;
    font-style: italic;
    font-weight: bolder;
}

@media all and (min-width: 500px) {
    .skills-list {
        max-width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        margin-top: 1em;
    }
}

@media all and (min-width: 650px) {

    .abt-item p {
        width: 90%;
    }

    .profile-img {
        width: 400px;
    }
    .profile-content {
        width: 66%;
    }
    .profile-content p {
        text-align: left;
        color: #d3c4c4;
    }
    #project {
        padding: 3em;
    }
    #about {
        margin: 7em auto;
    }
    .iam {
        display: block;
        width: 85%;
    }
    .iam p {
        margin: 2.5em auto;
    }
    .skills-list__item {
        margin: unset;
    }
    .btn {
        width: 400px;
        margin: 0 auto 2em;
    }
    .contact h2 {
        font-size: 2em;
    }
    .ids {
        display: flex;
        justify-content: space-between;
        margin: 0 auto; 
        width: 80%;
    }
    .ids a {
        width: 30% ;
    }
    .msg {
        width: 80%;
        padding: 1em;
    }
}

@media all and (min-width: 750px) {
    .menu, .exit {
        display: none;
    }
    nav {
        display: flex;
        align-items: center;
    }
    ul {
        display: flex;
        background: none;
        height: unset;
        position: unset;
    }
    ul li a {
        margin-left: unset;
        padding: 0 .5rem;
    }
    .active {
        color: #ff8882;
    }
    .abt img {
        display: block;
    }
    .abt-item p {
        width: 70%;
    }
    .projects {
        grid-template-columns: 1fr 1fr; 
        grid-gap: 1em;
    }
    .projects__item.movie {
        grid-area: 1/1/2/3;
    }
    .contact h2 {
        font-size: 2.5em;
    }
    .contact__item{
        width: 70%;
    }
    .cs__item h4 {
        font-size: 1em;
    }
}

@media all and (min-width: 1024px) {
    ul li a {
        padding: 0 1rem;
    }
    p {
        font-size: 1.4em;
    }
    .projects {
        grid-template-columns: 1fr 1fr 1fr; 
        grid-gap: 2em;
    }
    .projects__item.movie {
        grid-area: 1/1/2/3;
    }
    .links {
        display: flex;
        flex-direction: row;
        margin-bottom: 1em;
    }
    a#case {
        margin-left: 1em;
    }

    .skills-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .contact h2 {
        font-size: 3em;
    }
    .contact__item{
        width: 60%;
    }
}
